@import "tailwindcss";
@keyframes slideRTL {
  from {
    opacity: 0;
    transform: translateX(60px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slideRTL {
  animation: slideRTL 0.8s ease-in-out;
}
